.header-container {
  align-items: auto;
  padding: 0 15px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  right: 0;
  left: 0;
  padding: 0 30px;
}
#icon-logo {
  width: 32px;
  height: 16px;
}
.logo {
  width: 92px;
  height: 26px;
}
.nhile-official {
  width: 162px;
  height: 77px;
}
.menu-item {
  position: relative;
  padding: 24px 0;
  font-size: 18px;
  margin: 0 8px;
}
.menu-container {
  display: flex;
  justify-content: space-between;
}
.sub-menu {
  display: none;
  position: absolute;
}
.sub-menu-item {
  padding: 8px;
}
.footer-container {
}
@media only screen and (max-width: 63.9375em) {
}
@media only screen and (max-width: 46.1875em) {
}
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}
